@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --dark: #080e1d;
    --light: #ffffff;
    --success: #0ABF30;
}

body {
    margin: 0;
    background: #00000c;
    font: 14px/1.6em sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: #fff;
}

.notifications {
    position: fixed;
    top: 30px;
    right: 20px;
}

.notifications :where(.toast, .column) {
    display: flex;
    align-items: center;
}

.notifications .toast {
    width: 400px;
    position: relative;
    overflow: hidden;
    list-style: none;
    border-radius: 4px;
    padding: 16px 17px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
    justify-content: space-between;
    animation: show_toast 0.3s ease forwards;
    box-shadow: 0 0 45px #ffffff;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
}

@keyframes show_toast {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.notifications .toast.hide {
    animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(calc(100% + 20px));
    }
}

.toast::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100% {
        width: 0%;
    }
}

.toast.success::before {
    background: var(--success);
}

.toast .column i {
    font-size: 1.75rem;
}

.toast.success .column i {
    color: var(--success);
}

.toast .column span {
    font-size: 1.07rem;
    margin-left: 12px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 530px) {
    .notifications {
        width: 95%;
    }
    .notifications .toast {
        width: 100%;
        font-size: 1rem;
        margin-left: 20px;
    }
    .buttons .btn {
        margin: 0 1px;
        font-size: 1.1rem;
        padding: 8px 15px;
    }
}

.notifications i {
    color: rgb(0, 0, 0);
}

.tag {
    width: 400px;
    height: 60px;
    margin: 350px auto 0px;
    position: relative;
    color: #00000c;
    font: 28px/60px sans-serif;
    text-align: center;
    text-transform: uppercase;
    background: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 45px #ffffff;

    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
}

.tag i {
    position: absolute;
}

.tag i:first-child, .tag i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #b3b3b3;

    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
}

.tag i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #b3b3b3;
}

.tag i:nth-child(3), .tag i:last-child {
    width: 20px;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #ffffff;
    border-left-color: transparent;

    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;

    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.tag i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #ffffff;
    border-right-color: transparent;

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

/* animations */

@-webkit-keyframes main {
    0% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
    0%, 50% { -webkit-transform: scaleY(0); }
    100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
    0%, 75% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
    0% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
    0%, 50% { -moz-transform: scaleY(0); }
    100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
    0%, 75% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
}


@keyframes main {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes edge {
    0%, 50% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

@keyframes back {
    0%, 75% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}