html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: url('../../img/blueWater.jpg') no-repeat center / cover;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.400);
  box-sizing: border-box;
  box-shadow: 0 0 45px #4a58ce;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

.box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.box .input {
  position: relative;
}

.box .input input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.box .input label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .4s;
}

.box .input input:focus ~ label,
.box .input input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #2e43ff;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-box button {
    background: none;
    border: none;
}

.box #btn {
  position: relative;
  display: inline-block;
  padding: 13px 20px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px;
  width: 280px;
  font-weight: normal;
  cursor: pointer;
}

.box #btn:hover {
  background: rgb(255, 255, 255);
  color: #2e43ff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #ffffff;
}

.box a span {
  position: absolute;
  display: block;
}

.box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: a1 2s linear infinite;
}

@keyframes a1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: a2 2s linear infinite;
  animation-delay: .5s;
}

@keyframes a2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: a3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes a3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: a4 2s linear infinite;
  animation-delay: 1.5s;
}

@keyframes a4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.btn-box2 {
    display: flex;
    justify-content: center;
}

.btn-box2 button {
    background: none;
    border: none;
}

.box #btn2 {
  position: relative;
  display: inline-block;
  padding: 13px 20px;
  color: #2e43ff;
  background: rgba(46, 67, 255, 0.4);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px;
  width: 280px;
  font-weight: normal;
  cursor: pointer;
}

.box #btn2:hover {
  background: rgba(46, 67, 255, 1);
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 1px 1px 30px #2e43ff;
}

.box #btn2 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2e43ff);
  animation: a1 2s linear infinite;
  animation-delay: .5s;
}

.box #btn2 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2e43ff);
  animation: a2 2s linear infinite;
  animation-delay: 1s;
}

.box #btn2 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2e43ff);
  animation: a3 2s linear infinite;
  animation-delay: 1.5s;
}

.box #btn2 span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2e43ff);
  animation: a4 2s linear infinite;
  animation-delay: 2s;
}