<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/home/signup.css">
        <script src="/js/home/signup.js" defer></script>
        <title>Sign up</title>
    </head>
    <body>
        <!-- dummy -->
        <input type="text" style="display:none" aria-hidden="true">
        <input type="text" style="display:none" aria-hidden="true">
        <input type="password" style="display:none" aria-hidden="true">
        <input type="password" style="display:none" aria-hidden="true">
        <!-- main -->
        <div class="box">
            <h2>Sign up</h2>
            <div class="input">
                <input type="text" id="id" required="" autocomplete="off">
                <label>Id</label>
            </div>
            <div class="input">
                <input type="text" id="name" required="" autocomplete="off">
                <label>Name</label>
            </div>
            <div class="input">
                <input type="password" id="pswd" required="" autocomplete="new-password">
                <label>Password</label>
            </div>
            <div class="input">
                <input type="password" id="pswd-chk" required="" autocomplete="new-password">
                <label>Password Check</label>
            </div>
            <div class="btn-box">
                <button id="login-btn">
                    <a id="btn">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Sign up
                    </a>
                </button>
            </div>
          </div>
    </body>
</html> 