<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="/css/error/404.css">
    <script src="/js/error/404.js" defer></script>
    <title>404</title>
</head>
<body>
    <ul class="notifications"></ul>
    <section class="error">
        <div>
          <h1 data-h1="404">404</h1>
          <p data-p="NOT FOUND">NOT FOUND</p>
        </div>
    </section>
</body>
</html>
